:root {
  --font-family-frst: "Roboto", serif; //font-famili
  --font-family-scnd: "Rosario", sans-serif; //second-family
  --accent-color: #E11C4B;
  --black-color: #000;
  --white-color: #fff;
  --main-color: #8D8D8D;
}