@import "_reset";
@import "_mixins";
@import "_vars";


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-frst);
  font-weight: 400;
  font-style: normal;
  color: #333;
}

.icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 6px;
  transition: filter 1s ease;
}

li:hover .icon,
button:hover .icon {
  filter: brightness(0) saturate(100%) invert(40%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  background-color: transparent;
}

.burger-menu {
  display: none;
}

header {
  margin-bottom: 25px;

  .header-wrapper {
    border-bottom: 2px solid #e8e8e8;
  }

  .header-info {
    @include page-width;
    height: 37px;
    @include flex-all;
  }

  .info-buttons {
    display: flex;


    .city {
      margin-right: 36px;
    }


    .city,
    .stores {
      @include flex-vert;

      span {
        transition: 0.5s ease;
        font-size: 16px
      }

      &:hover span {
        color: var(--accent-color);
      }
    }
  }


  .info-phone {
    @include flex-all;

    a {
      color: inherit;
      transition: 0.5s ease;
      font-size: 16px;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .header-main,
  .logo-wrapper,
  .input-wrapper {
    @include page-width;
    @include flex-all;
    padding-top: 20px;
    padding-bottom: 20px;

    .main-logo {
      font-family: var(--font-family-scnd);
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--accent-color);
      margin-right: 30px;
    }

    .main-input {
      position: relative;
      max-width: 523px;
      width: 100%;

      .search {
        width: 100%;
        height: 46px;
        padding: 13px;
        padding-left: 50px;
        border: 2px solid #ddd;
        border-radius: 100px;
        cursor: pointer;

        &::placeholder {
          font-size: 16px;
        }
      }

      &::before {
        content: "";
        width: 26px;
        height: 26px;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        z-index: 5;
        position: absolute;
        background: url('@img/search.svg') 50% 50%/26px no-repeat;
      }
    }

    .main-list {
      @include flex-all;

      li:not(:last-child) {
        margin-right: 24px;
      }

      li a {
        @include flex-vert;
        flex-direction: column;
        color: inherit;
        text-decoration: none;
        transition: 0.5s ease-in-out;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  .header-main__mobile {
    display: none;
  }

  .header-links {
    @include page-width;
    padding-right: 45px;
    position: relative;

    .links-container {
      overflow: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        height: 2px;
      }

      &::-webkit-scrollbar-track {
        background: var(--white-color);
      }

      .links-list {
        @include flex-all;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 38px;

          a {
            color: #000;
            transition: 0.5s ease;

            .active {
              color: var(--accent-color);
            }

            &:hover {
              color: var(--accent-color);
            }
          }
        }

        li .custom-item {
          @include flex-vert;
        }
      }
    }
  }

  .links-scroll {
    position: absolute;
    right: 25px;
    top: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: url('@img/menu-btn.svg') 50% 50%/cover no-repeat;
    cursor: pointer;
  }
}

.promotion {
  flex-grow: 1;
  @include page-width;
  margin-bottom: 90px;

  h1 {
    margin-top: 15px;
    margin-bottom: 36px;
    font-size: 36px;
  }

  .main-list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(360px, 2fr));

    li {

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }
  }
}

.gaming-discount {
  flex-grow: 1;
  @include page-width;
  margin-bottom: 90px;

  .discount-banner {
    margin-bottom: 35px;

    img {
      max-width: 100%;
      border-radius: 30px;
    }
  }

  .discount-description {

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 25px;
    }

    span {
      display: inline-block;
      color: #939393;
      font-size: 22px;
      margin-bottom: 30px;
    }

    p {
      max-width: 1100px;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.mobile-menu {
  display: none;
}

footer {
  background-color: #f4f4f4;

  .footer-wrapper {
    @include page-width;
    padding-top: 36px;
    padding-bottom: 20px;

    .footer-links {
      @include flex-all;
      margin-bottom: 36px;

      .links-list {
        max-width: 450px;
        width: 100%;
        @include flex-all;

        li a {
          color: var(--black-color);
          transition: 0.5s ease;

          &:hover {
            color: var(--accent-color);
          }
        }
      }

      .links-contacts {

        @include flex-all;

        .info-phone {
          margin-right: 68px;

          @media (max-width: 768px) {
            margin-right: 40px;
          }
        }

        .info-phone,
        .info-mail {
          @include flex-all;

          .mail-icon {
            width: 25px;

            @media (max-width: 480px) {
              width: 18px;
            }
          }

          a {
            color: inherit;
            transition: 0.5s ease;
            font-size: 16px;

            &:hover {
              color: var(--accent-color);
            }
          }
        }
      }
    }

    .footer-social {
      @include flex-all;

      .social-copyright {
        color: #8d8d8d;
        font-size: 14px;
      }

      .social-list {
        @include flex-all;

        li:not(:last-child) {
          margin-right: 12px;
        }

        li {
          .icon-social {
            width: 40px;
            height: 40px;
            display: inline-block;
            background: #fff no-repeat center / 24px;
            border-radius: 100%;
            border: 1px solid #8d8d8d;
            transition: 0.5s ease;

            @media (max-width: 480px) {
              width: 30px;
              height: 30px;
              background-size: 18px
            }

            &:hover {
              background-color: #ffcaca;
            }
          }

          .link-vk {
            background-image: url('@img/vk.svg');
          }

          .link-youtube {
            background-image: url('@img/youtube.svg');
          }

          .link-telegram {
            background-image: url('@img/telegram.svg');
          }
        }
      }
    }
  }
}